<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ADOEmp.Properties.Settings.ADOEmpConnectionString"
      connectionString="Data&#xA;Source=(localdb)\MSSQLLocalDB;Initial Catalog=ADOEmp;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>